body{
   background-color: 	#f7e5d1; /*#f0cdaa */
}

/* navbar */
.nav-wrapper{ 
  margin-right: -150px;
  font-family: Libre Baskerville;
}
.brand-logo{
  font-family: shrikhand;
  color : #ffcdd2!important;
  margin-left: -150px;
}

/* parallax */
.parallax-container h1{
  color: white;
  font-size: 150px;
  font-family: Dancing Script;
  text-align: center;
  margin-top: 75px;
  text-shadow: 0 3px 20px rgba(0,0,0,0.5);;
}

.parallax-container .par2 h1{
  color: white;
  font-size: 120px;
  font-family: Dancing Script;
  text-align: center;
  margin-top: 320px;
  text-shadow: 0 3px 20px rgba(0,0,0,0.5);;
}

/* info panel */
.info-panel {
  box-shadow: 0 3px 20px rgba(0,0,0,0.5);
  border-radius: 12px;
  margin-top: -200px;
  background-color:rgba(247, 229, 209,0.8);
  padding: 5px;
}

.info-panel img{
  margin-top: 25px;
  width: 120px!important;
  height: 120px;
  border-radius: 50%;
}

.info-panel p{
  font-family: Courgette;
  font-size: 25px;
  margin-top: 45px;
}

  /* container */
  .container-utama .atas{
    height: 80px;
  }
  .container-utama h3{
    border: 1px dashed maroon;
    border-left-style: hidden;
    border-right-style: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 80px;
    margin-bottom: 50px;
    font-family: kaushan script;
    text-align: center;
  }

  .container-utama .card-panel{
    width: 600px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
  }

  .container-utama .card-panel th{
    font-family:  Dancing Script;
    font-size: 40px;
  }

  .container-utama .card-panel td a, .container-utama .card-panel td{
    color: maroon;
    font-weight: bold;
    font-size: 20px;
    font-family: Libre Baskerville;
  }

/* quotes */
.quotes h5 {
  text-align: center;
  font-weight: 200;
  font-style: italic;
  font-size: 28px;
  font-family: Courgette;
  margin: 20px;
  color: #8a8a8a;
}

.q1 h5{
  margin-top: 170px;
  font-size: 30px;
}

.q2 h5{
  margin-top: 130px;
}

.q3 h5{
  margin-top: 170px;
}

.q4 h5{
  margin-top: 42px;
}

/*footer*/
.page-footer h5{
  margin-top: -5px;
  color: #ffcdd2;
  font-size: 28px;
  text-align: center;
}

/* DEKSTOP VERSION*/
@media (min-width: 992px) { 
  .navbar-brand, .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
  }
  .nav-link {
  text-transform: uppercase;
  margin-right: 30px;
}
  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #0B63DC;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
}
