section{
	padding : 20px 0;
}

/* navbar */
.nav-wrapper{
  margin-right: -150px;
  font-family: Libre Baskerville;
}
.brand-logo{
  font-family: shrikhand;
  color : #ff5252!important;
  margin-left: -150px;
}


/*products*/
.product h3{
  border: 1px dashed #ff5252 ;
  border-left-style: hidden;
  border-right-style: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: kaushan script;
}

.product .nama{
  color: #ff5252;
  font-family: Lobster;
}

.product .collection-header{
  color: #ff5252;
  font-family: Lobster;
}

.product .nama{
  color: #ff5252!important;
  font-family: Lobster!important;
}

.product .container {
  width: 800px;
}

img{
  height: 250px;
}

/* footer */
.footer-copyright h5{
  font-family: Libre Baskerville;
  margin-top: -5px;
}

/* detail.php */
.detail{
  background-color: #ff5252;
}
.container-detail{
  color : #212121;
  margin-left: 50px;
}

.keterangan {
  font-family: Libre Baskerville;
}

.gambar img{
  margin-top : 50px;
}